<div class="row">
  <div>
    <h2 class="text-center">{{username}}'s Dashboard</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6 text-center">
    <h3>Create a New Blog:</h3>

    <form class="form new-blog-form">
      <div class="form-group">
        <input class="form-input customInput" type="text" id="blog-title" name="blog-title" placeholder="Blog Title" />
      </div>
      
      <div class="form-group">
        <textarea class="form-input customTextarea" id="blog-desc" name="blog-desc" placeholder="Blog Content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Create</button>
      </div>
    </form>
  </div>

  <div class="col-md-6 blog-list text-center">
    <h3>Current Blogs:</h3>
    {{#if blogs.length}}
      {{#each blogs as |blog|}}
      <div class="row mb-2">
        <div class="col-md-6">
          <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary update-btn" data-id-up="{{blog.id}}">UPDATE</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-danger" data-id-del="{{blog.id}}">DELETE</button>
        </div>
      </div>
    {{/each}}
  {{else}}
  <h2>It appears you haven't posted any blogs yet, try creating one and it will appear here!</h2>
  {{/if}}
    </div>
  </div>

<div class="row">
  <div class="col">
    <h3 class="text-center">Manage Comments:</h3>
    {{#each comments as |comment|}}
    <div class="row mb-2">
        <div class="col-md-9">
          <h4><a href="/blog/{{comment.blog_id}}">{{comment.comment_description}}</a> from post: <a href="/blog/{{comment.blog_id}}">{{comment.blog.title}}</a>
        </div>
        <div class="col-md-1 d-flex justify-content-center align-items-center">
          <button class="btn btn-primary update-btn-comment" data-id-up="{{comment.id}}">UPDATE</button>
        </div>
        <div class="col-md-1 d-flex justify-content-center align-items-center">
          <button class="btn btn-danger delete-btn-comment" data-id-del="{{comment.id}}">DELETE</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script src="/js/dashboard.js"></script>