{{!-- This is used to generate the homepage, it has a check that even if there are 0 posts it will display text to say so, rather than leaving an empty website --}}
{{#if blogs.length}}
{{#each blogs as |blog|}}

  <div class="row">

    <div class="container blogBox">
			<div class="row justify-content-center headerRow">
      <div class="col-8">
        <h2>
          <a class="blogTitle" href="/blog/{{blog.id}}">{{blog.title}}</a>
        </h2>
      </div>

      <div class="col-4">
        <p class="blogCreate text-right">Created by
          {{blog.user.username}}
          on
          {{format_date blog.date_created}}
        </p>
      </div>
			</div>
    <div class="blogDesc">
      <p class="text-center blogDescMain">
        {{blog.description}}
      </p>
    </div>
    </div>

  </div>

{{/each}}
{{else}}
<h1 class="row">It appears that no blogs have been posted yet, why not log in/sign up and be the first!</h1>
{{/if}}